@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
    --light: #fff;
    --dark: #282424;
    --font-main: "Lexend", sans-serif;
    --font-text: "Spectral", serif;
}

.bodyWrapTotal {
    width: 70vw;
    margin-left: 50vw;
    transform: translateX(-50%);
}

hr {
    border: none;
  height: 1px;
  /* Set the hr color */
  color: #333;  /* old IE */
  background-color: #333;  /* Modern Browsers */
}

.hr2 {
    margin: 3vw 0;
}